{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <div class="features">
        <h1>Статистика по годам</h1>
    </div>
<div class="table2">
    <img src="{% static 'main/img/table1.jpg'%}" width="450" height="300" alt="Лого">
    <img src="{% static 'main/img/table2.jpg'%}" width="450" height="300" alt="Лого">
    <img src="{% static 'main/img/table3.jpg'%}" width="450" height="300" alt="Лого">
    </div>
<div class="table1">

        <table>
    <tr><td>Год</td><td>Средняя зарплата</td><td>Средряя зарплата (Аналитик данных)</td><td>Кол-во вакансий </td><td>Кол-во вакансий (Аналитик данных)</td></tr>
    <tr><td>2003</td><td>41304</td><td>24770</td><td>1983</td><td>5</td></tr>
    <tr><td>2004</td><td>42967</td><td>35720</td><td>7833</td><td>17</td></tr>
    <tr><td>2005</td><td>44938</td><td>38237</td><td>1620</td><td>302</td></tr>
    <tr><td>2006</td><td>41317</td><td>49920</td><td>33321</td><td>480</td></tr>
    <tr><td>2007</td><td>44449</td><td>50430</td><td>53562</td><td>670</td></tr>
    <tr><td>2008</td><td>48411</td><td>69321</td><td>75070</td><td>320</td></tr>
    <tr><td>2009</td><td>44811</td><td>57345</td><td>52889</td><td>982</td></tr>
    <tr><td>2010</td><td>44657</td><td>57546</td><td>93494</td><td>1579</td></tr>
    <tr><td>2011</td><td>46448</td><td>59867</td><td>132458</td><td>1958</td></tr>
    <tr><td>2012</td><td>47321</td><td>75300</td><td>173897</td><td>2689</td></tr>
    <tr><td>2013</td><td>53098</td><td>82459</td><td>234019</td><td>2907</td></tr>
    <tr><td>2014</td><td>49843</td><td>86738</td><td>259234</td><td>3704</td></tr>
    <tr><td>2015</td><td>51254</td><td>92743</td><td>284763</td><td>5928</td></tr>
    <tr><td>2016</td><td>61783</td><td>97463</td><td>332460</td><td>6018</td></tr>
    <tr><td>2017</td><td>60180</td><td>120532</td><td>391464</td><td>5849</td></tr>
    <tr><td>2018</td><td>65543</td><td>135067</td><td>517670</td><td>5189</td></tr>
    <tr><td>2019</td><td>69690</td><td>150345</td><td>535956</td><td>2971</td></tr>
    <tr><td>2020</td><td>72456</td><td>185343</td><td>489472</td><td>1932</td></tr>
    <tr><td>2021</td><td>83444</td><td>190345</td><td>287915</td><td>1501</td></tr>
    <tr><td>2022</td><td>95700</td><td>220435</td><td>91142</td><td>838</td></tr>
        </table>
    </div>

 <div class="info1">
     <p1>
     Специалисты по аналитике очень востребованы на рынке. Как показывают исследования, 94% специалистов, прошедших обучение по аналитике данных, получили работу в этой области. Количество вакансий в этой сфере постоянно растет.
     </p1>
     <p2>
         Согласно прогнозу Superjob, аналитик данных — одна из самых востребованных профессий в российском сегменте IT-сферы в 2020 году. Соотношение числа вакансий и резюме составляет в данном сегменте 1 к 4,5
         Совместно исследование Яндекса и HeadHunter также подтверждает высокий спрос на аналитиков. Эта профессия входит в ТОП-15 самых востребованных в сфере IT
     </p2>
 </div>
{% endblock %}
