{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Кто такой аналитик данных?</h1
    </div>
    <div class="info">
        <p1> Аналитик данных (или дата-аналитик) — это специалист, который собирает, обрабатывает, изучает и интерпретирует данные. Его работа помогает принимать решения в бизнесе, управлении и науке. Обычно такие специалисты работают в компаниях, которые практикуют data-driven подход — ориентируются на данные и их анализ при принятии решений.
Аналитик данных — важный участник бизнеса, потому что обеспечивает уверенность в принятии решений. Создавать новый продукт очень дорого, а ошибка при внедрении новой функции может стоить компании репутации и прибыли. Дата-аналитики проводят А/B-тесты и строят модели, чтобы проверить, как пользователи или клиенты реагируют на нововведения, и оценить перспективы того или иного проекта. Это дешевле и снижает риски бизнеса. Чтобы делать свою работу хорошо, аналитик должен видеть бизнес-процессы. Поэтому важно, чтобы он мог влиять на процесс принятия решения, основываясь на результатах своих исследований. Иначе работа такого специалиста теряет ценность.
</p1>
        <img src="{% static 'main/img/photo1.jpg'%}" width="450" height="300" alt="Лого">
        <img src="{% static 'main/img/photo2.png'%}" width="450" height="300" alt="Лого">
        <img src="{% static 'main/img/photo3.jpg'%}" width="450" height="300" alt="Лого">
    </div>

    <div class="info2">
    <p2>
Хороший аналитик данных — не просто математик с навыками программиста. Он понимает бизнес-процессы и хорошо знает продукт. Такой специалист разбирается, на чем зарабатывает конкретный бизнес. В результате его работы компания может получать больше прибыли и делать своих пользователей счастливее. Сильный аналитик данных прежде чем взяться за работу всегда спрашивает руководителя о том, какую задачу хочет решить бизнес.

Кроме программных инструментов аналитику данных важно развивать — метапрофессиональные умения, которые помогают делать работу лучше. Это способность налаживать общение с коллегами и партнерами, умение решать проблемы и выходить из конфликтных ситуаций с наименьшими потерями, сильный эмоциональный интеллект. Такие навыки больше связаны с личностью человека, чем с его профессиональным уровнем. Но их тоже можно формировать и развивать.

    </p2>
    </div>
    <div>
    <img src="{% static 'main/img/analitik.png'%}" width="800" height="450" alt="Лого">
        </div>
{% endblock %}

